*{
    list-style: none;
    text-decoration: none;
  }
  
  .links-wrapper{
    background-color: black;
    display: grid;
   grid-template-columns: 1fr 1fr;
  }
  .nav-link{
    padding-left: 100px;
  }
  .nav-link img {
    padding-top: 10px;
  }
  .navs-link{
    margin-right:50px;
    
  }
  .navs-link ul{
    display: flex;
    justify-content: space-evenly;
   align-items: center;
   padding-top: 20px;
   
  
  }
  .navs-link ul a{
    color: white;
   font-size: 20px;
  }
  .navs-link ul a:hover{
    color: orange;
    transition: all 0.4s ease;
  }
  .btn{
   
    width: 130px;
    height:30px;
    background-color: orange;
    border:2px solid orange;
    color: black;
    font-size:15px;
    border-radius: 5px;
    cursor: pointer;
    
  }
  .btn:focus{
    
    outline: none;
  
  }
  .btn:focus{
      
      outline: none;
  
  }
  .srch:focus{
      outline:none;
  }
    
  
  