*{
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	
  }
  
  #main{
	width:100%;
	background-size: cover;
	height:109vh;
	background-repeat: no-repeat;
	background-position: center;
  
  
  }
  
  
  .title{
   
	color:black;
	border-bottom: 10px solid #004EFF;
	  text-transform: uppercase;
	  display: inline-block;
  }
  .section{
	
	  width: 100%;
	  min-height: 220vh;
	  background-color: rgb(255, 255, 255);
  
  }
  .container{
	  
	  width: 80%;
	  display: block;
	  margin:auto;
	  padding-top: 100px;
  }
  .content-section{
	  float: left;
	  width: 55%;
	
  }
  
  .image-section{
	  float: right;
	  width: 40%;
  }
  .image-section img{
	  width: 100%;
	  height: auto;
  }
  .content-section .title{
	
	  text-transform: uppercase;
	  font-size: 28px;
  }
  
  .content-section .content p{
	padding-top: 3%;
	  margin-top: 10px;
	  font-family: sans-serif;
	  font-size: 18px;
	  line-height: 1.5;
  }
  .content-section .content h2{
   color: blue;
	  margin-top: 10px;
	  font-family: sans-serif;
	  font-size: 30px;
	  line-height: 1.5;
  }
  
  @media screen and (max-width: 800px){
	  .container{
	  width: 80%;
	  display: block;
	  margin:auto;
	  padding-top:50px;
  }
  .content-section{
	  float:none;
	  width:100%;
	  display: block;
	  margin:auto;
  }
  .image-section{
	  float:none;
	  width:100%;
	  
  }
  .image-section img{
	  width: 100%;
	  height: auto;
	  display: block;
	  margin:auto;
  }
  .content-section .title{
	  text-align: center;
	  font-size: 19px;
  
  }
  }
  
