
* {
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: Muli;
  color: black;
}


.wrapper {
  width: 75%;
  margin: 0 auto;
}

.belowFoldArea {
  background-color: BLACK;
  padding-bottom: 150px;
}

.belowFoldArea .packages h3 {
  padding: 50px;
  font-size: 44px;
  text-align: center;
  color: white;
  margin-bottom: 50px;
}

.centerPackageInfo {
  text-align: center;
}

.package .centerPackageInfo {
  margin-top: 30px;
}

.package .centerPackageInfo h4 {
  margin-bottom: 10px;
}

.package .centerPackageInfo > h6 {
  margin-bottom: 40px;
}

.package .centerPackageInfo .priceItemSale p {
  text-decoration: line-through;
  color: #dadce0;
}

.package .centerPackageInfo .priceItemSale button {
  background-color: #d5dfff;
  border: none;
  font-size: 14px;
  padding: 7px 16px;
  border-radius: 22px;
  color: #36344d;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 5px;
  align-items: center;
}

.package .centerPackageInfo .callToAction button {
  margin-bottom: 20px;
}

.package .centerPackageInfo .callToAction pre {
  margin-bottom: 30px;
  font-size: 14px;
  color: white;
}

.package .centerPackageInfo .priceItemSale {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.packagesPrices {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90%;
  margin: 0 auto;
}

.packages .packagesPrices .package {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(BLACK),
    to(rgb(6, 50, 71))
  );
  margin: 0 10px;
  border: 1px solid #384c9c;
  padding-bottom: 55px;
  border-radius: 7px;
}


.packages .packagesPrices .package:hover {
  transform: scale(1.04);
  transition: 0.3s;
}

.packages .packagesPrices .package2 {
  border: 1px solid #f4f5ff;
}

.packages .packagesPrices .package .centerPackageInfo h4 {
  font-size: 17px;
  color: white;
}

.packages .packagesPrices .package .centerPackageInfo h6 {
  font-size: 14px;
  color: white;
}

.packages .packagesPrices .package .centerPackageInfo .pricePerItem h6 {
  font-size: 17px;
  color: white;
}

.centerPackageInfo .pricePerItem > p {
  color: white;
  margin-bottom: 20px;
  font-weight: 800;
}

.packages .packagesPrices .package .centerPackageInfo .pricePerItem span {
  font-size: 56px;
  color: white;
}

.callToAction button {
  background-color: orange;
  min-width: 255px;
  min-height: 50px;
  cursor: pointer;
  border-radius: 150px;
  border: none;
  letter-spacing: 0.5px;
}

.callToAction button a {
  font-weight: 700;
  font-size: 18px;
  color: white;
}

.yellowTick,
.greenTick,
.purpleX {
  padding-left: 0px;
}


.packageInfo li {
  color: white;
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
}

.packageInfo li span {
  
  padding-left: 10px;
}

.moneyBackGuarantee {
  text-align: center;
  padding: 100px 0;
}

.moneyBackGuarantee > h3 {
  font-size: 44px;
  color: rgba(6, 49, 71, 1);
  margin-bottom: 10px;
}

.moneyBackGuarantee > p {
  font-size: 15px;
  color: #2f1c6a;
  margin-bottom: 20px;
}

.moneyBackGuarantee > a button {
  color: white;
  background-color: orange;
  padding: 13px 70px;
  font-weight: 700;
  font-size: 15px;
  border-radius: 30px;
  border: none;
}

    
.footer-distributed{
       
  background: black;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}

/* The company logo */

.footer-distributed h3{
  color:  white;
  font: normal 36px 'Open Sans', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  white;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  font-weight:400;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  rgb(218, 214, 214);
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: white;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-map-marker-alt{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: white;
  font-weight:400;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  blue;
  text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: white;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  white;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}
@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}       
        